.mr-clock {
	position: relative;
	display: flex;
	flex-flow: column wrap;
	font-size: 32px;
	width: 16em;
	height: 6em;
	margin: 40px auto;
}

.mr-clock .mr-clock-block {
	height: 100%;
	width: 3em;
	height: 5em;
	margin: 0.5em;
	display: flex;
	flex-shrink: 0;
	flex-flow: row wrap;
}

.mr-clock .mr-clock-block div {
	width: 1em;
	height: 1em;
	background-color: #222;
	border: #000 solid 0.1em;
	border-radius: 0em;
}
.mr-clock .mr-clock-block div:not([state]) {
	opacity: 0.5;
}

.mr-clock .mr-clock-block div[state] {
	background-color: #333;
}

.mr-clock .mr-clock-block div[counter] {
	background-color: #4853cf;
}

.mr-clock-separator {
	position: absolute;
	left: 50%;
	transform: translateY(-50%);
	top: 50%;
}

.mr-clock-separator::after {
	content: '';
	position: absolute;
	height: 1em;
	width: 0.5em;
	top: 0.5em;
	left: calc(50% - 0.25em);
	background-color: #333;
	border: #000 solid 0.075em;
	border-radius: 0em;
}

.mr-clock-separator::before {
	content: '';
	position: absolute;
	height: 1em;
	width: 0.5em;
	bottom: 0.5em;
	left: calc(50% - 0.25em);
	background-color: #333;
	border: #000 solid 0.075em;
	border-radius: 0em;
}