*, *::before, *::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	max-width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	display: inline-block;
	margin: 0;
	padding: 0;
	background: #000;
	font-family: 'Fira Sans', sans-serif;
}

iframe {
	width: 100%;
	height: 100%;
	min-height: 50vh;
	margin: 0 auto;
}

.mr-right {
	position: absolute;
	right: 0;
}

.mr-left {
	position: absolute;
	left: 0;
}

.mr-center {
	position: absolute;
	left: 50%;
	right: 50%;
	transform: translateX(-50%);
}