.mr-oc-toggle {
	display: inline-block;
	position: relative;
	width: 60px;
	height: 60px;
	background-color: #333;
	cursor: pointer;
}

.mr-oc-toggle > svg {
	position: absolute;
	right: 14px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.mr-oc-panel {
	position: fixed;
	display: inline-block;
	max-width: 550px;
	width: 100%;
	z-index: 999;
	transition: left 0.3s ease, box-shadow 0.3s ease;
	background-color: #000;
}

.mr-oc-vertical {
	height: 100vh;
	top: 0;
	overflow-y: auto;
}

.mr-oc-right {
	right: -550px;
	border-left: #333 solid 3px;
	transition: all 0.3s ease;
}

.mr-oc-right[aria-expanded="true"] {
	right: 0;
	outline: none;
	-moz-box-shadow: 3px 0 12px rgba(0, 0, 0, .25);
	-webkit-box-shadow: 3px 0 12px rgba(0, 0, 0, .25);
	box-shadow: 3px 0 12px rgba(0, 0, 0, .25);
}

.mr-oc-push {
	overflow-x: hidden;
	position: relative;
	top: 0;
	left: 0;
	transition: all 0.3s ease;
}

.mr-oc-push[aria-expanded="true"] {
	left: -550px;
}

.mr-oc-panel-header {
	width: 100%;
}