/* Inputs */

.mr-input {
	background-color: #222;
	display: block;
	margin: 10px 0;
	position: relative;
	overflow: hidden;
	opacity: 1;
	transition: position 200ms, all 200ms;
}

.mr-input.hide {
	opacity: 0;
}

.mr-input:hover {
	background-color: #333;
}

.mr-input label {
	padding: 12px 30px;
	padding-left: 80px;
	max-width: calc(100% - 70px);
	display: block;
	text-align: left;
	color: #999;
	cursor: pointer;
	position: relative;
	z-index: 2;
	transition: color 200ms ease-in;
	overflow-wrap: break-word;
}

.mr-input label:before {
	width: 15px;
	height: 50%;
	border-radius: 50%;
	content: '';
	background-color: #333;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
	transform: translate(-50%, -50%) scale3d(1, 1, 1);
	transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 200ms;
	opacity: 0;
	z-index: -1;
}

.mr-input label:after {
	width: 32px;
	height: 32px;
	content: '';
	border: 2px solid #000;
	background-color: #000;
	background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Ctitle%3Ebackground%3C/title%3E%3Crect fill='none' id='canvas_background' height='34' width='34' y='-1' x='-1'/%3E%3Cg display='none' overflow='visible' y='0' x='0' height='100%25' width='100%25' id='canvasGrid'%3E%3Crect fill='url(%23gridpattern)' stroke-width='0' y='0' x='0' height='100%25' width='100%25'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cline stroke-linecap='undefined' stroke-linejoin='undefined' id='svg_1' y2='25' x2='10.345065' y1='9' x1='26' stroke-width='1.5' stroke='%23000' fill='none'/%3E%3Cline stroke-linecap='undefined' stroke-linejoin='undefined' id='svg_2' y2='24.898549' x2='11.345065' y1='18.898549' x1='5.345065' stroke-width='1.5' stroke='%23000' fill='none'/%3E%3C/g%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 50%;
	z-index: 2;
	position: absolute;
	left: 25px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer;
	transition: all 200ms ease-in, background-image 200ms ease-in;
}

.mr-input input:checked~label {
	color: #fff;
	text-decoration: line-through 20px solid #000;
}

.mr-input input:checked~label:before {
	background-color: #111;
	-webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
	transform: translate(-50%, -50%) scale3d(56, 56, 1);
	opacity: 1;
}

.mr-input input:checked~label:after {
	background-color: #5562eb;
	border-color: #5562eb;
	background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Ctitle%3Ebackground%3C/title%3E%3Crect fill='none' id='canvas_background' height='34' width='34' y='-1' x='-1'/%3E%3Cg display='none' overflow='visible' y='0' x='0' height='100%25' width='100%25' id='canvasGrid'%3E%3Crect fill='url(%23gridpattern)' stroke-width='0' y='0' x='0' height='100%25' width='100%25'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cline stroke-linecap='undefined' stroke-linejoin='undefined' id='svg_1' y2='25' x2='10.345065' y1='9' x1='26' stroke-width='1.5' stroke='%23fff' fill='none'/%3E%3Cline stroke-linecap='undefined' stroke-linejoin='undefined' id='svg_2' y2='24.898549' x2='11.345065' y1='18.898549' x1='5.345065' stroke-width='1.5' stroke='%23fff' fill='none'/%3E%3C/g%3E%3C/svg%3E");
	background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Ctitle%3Ebackground%3C/title%3E%3Crect fill='none' id='canvas_background' height='34' width='34' y='-1' x='-1'/%3E%3Cg display='none' overflow='visible' y='0' x='0' height='100%25' width='100%25' id='canvasGrid'%3E%3Crect fill='url(%23gridpattern)' stroke-width='0' y='0' x='0' height='100%25' width='100%25'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cline stroke-linecap='undefined' stroke-linejoin='undefined' id='svg_1' y2='24.898549' x2='10.345065' y1='7.898549' x1='27.345065' stroke-width='1.5' stroke='%23fff' fill='none'/%3E%3Cline stroke-linecap='undefined' stroke-linejoin='undefined' id='svg_2' y2='24.898549' x2='11.345065' y1='18.898549' x1='5.345065' stroke-width='1.5' stroke='%23fff' fill='none'/%3E%3C/g%3E%3C/svg%3E");
}

.mr-input input[type="button"].close {
	position: absolute;
	background-color: transparent;
	background-position: 50% 50%;
	border: none;
	right: 0;
	z-index: 3;
	width: 60px;
	height: 100%;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	transition: background 200ms;
}

.mr-input input[type="button"].close:hover {
	background-color: #a14e4e;
	background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Ctitle%3Ebackground%3C/title%3E%3Crect fill='none' id='canvas_background' height='34' width='34' y='-1' x='-1'/%3E%3Cg display='none' overflow='visible' y='0' x='0' height='100%25' width='100%25' id='canvasGrid'%3E%3Crect fill='url(%23gridpattern)' stroke-width='0' y='0' x='0' height='100%25' width='100%25'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cline stroke-linecap='undefined' stroke-linejoin='undefined' id='svg_13' y2='27' x2='27' y1='5' x1='5' stroke-width='1.5' stroke='%23fff' fill='none'/%3E%3Cline transform='rotate(90, 16, 16)' stroke-linecap='undefined' stroke-linejoin='undefined' id='svg_14' y2='27' x2='27' y1='5' x1='5' stroke-width='1.5' stroke='%23fff' fill='none'/%3E%3C/g%3E%3C/svg%3E");
	background-repeat: no-repeat;
	cursor: pointer;
}

.mr-input input[type~="checkbox"], .mr-input input[type~="radio"] {
	width: 32px;
	height: 32px;
	order: 1;
	z-index: 2;
	position: absolute;
	right: 30px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer;
	visibility: hidden;
}

.mr-task-input input[type~="task"] {
	line-height: 36px;
	height: 40px;
	font-size: 1rem;
	padding: 12px 30px;
	height: 100%;
	width: calc(100% - 60px);
	z-index: 2;
	left: 30px;
	top: 50%;
	background: none;
	outline: none;
	border: none;
	color: #D1D7DC;
}

.mr-task-input {
	position: sticky;
	z-index: 4;
	top: 0;
	border-bottom: #000 solid 10px;
	margin: 0;
}

.mr-task-input .mr-task-add {
	z-index: 6;
	width: 60px;
	height: 100%;
	font-size: 1rem;
	z-index: 2;
	right: 0;
	top: 50%;
	position: absolute;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	background-color: #5562eb;
	color: #D1D7DC;
	border: none;
	transition: background .3s;
	cursor: pointer;
}

.mr-task-input .mr-task-add>svg {
	position: absolute;
	right: 14px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.mr-task-input .mr-task-add:hover {
	background-color: #4853cf;
}

.mr-input input[type~="text"], .mr-input input[type~="text"] {
	width: 100%;
	outline: none;
}

.mr-progress-container {
	background-color: #222;
	width: 100%;
	height: 45px;
	position: relative;
	margin: 10px 0;
	overflow: hidden;
}

.mr-progress-container .mr-progressbar {
	background-color: #4853cf;
	height: 100%;
	transition: width 200ms, background 200ms;
}

.mr-progress-container .mr-progressbar::before {
	content: attr(text);
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.mr-progressbar[type="success"] {
	background-color: #4ea159;
}

.mr-progressbar[type="failure"] {
	background-color: #a14e4e;
}

.mr-progressbar[type="warning"] {
	background-color: #c46e34;
}

.form {
	padding: 16px;
	max-width: 550px;
	margin: 0 auto;
	font-size: 18px;
	font-weight: 600;
	line-height: 36px;
	color: #fff;
	font-family: 'Fira Sans', sans-serif;
}